# Next.js
.next/
out/

# node_modules
node_modules/

# dotenv
.env
.env*.local

# npm
npm-debug.log*
.npm/

# vercel
.vercel/

# misc
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db

# Supabase
supabase/
.supabase/
